body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Ropa Sans';
  letter-spacing: 1px;
  overflow: hidden;
}
.controls-trigger {
  position: absolute;
  top: -40px;
  left: 0;
  background: rgba(255, 255, 255, .05);
  color: white;
  display: block;
  width: 140px;
  height: 25px;
  padding: 5px 0 10px 40px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;

}
.btn {
  padding: 6px 13px;
  background: rgba(255,255,255,.05);
  color: white;
  border: 1px solid rgba(255,255,255,.5);
  letter-spacing: 1px;
  font-family: 'Ropa Sans';
  font-size: 10px;
  cursor: pointer;
  transition: background .5s;
}
.btn:hover {
  background: rgba(255,255,255,.1);
}
input[type=number], input[type=text], input[type=url] {
  padding: 6px 13px;
  background: rgba(255,255,255,.05);
  color: white;
  border: 1px solid rgba(255,255,255,.5);
  letter-spacing: 1px;
  font-family: 'Ropa Sans';
  font-size: 10px;
  transition: background .5s;
}
input[type=number]:active, input[type=text]:active {
  background: rgba(255,255,255,.1);
}
.controls-help {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 50%;
  min-width: 700px;
  background: rgba(255, 255, 255, .05);
  color: white;
  height: 90px;
  bottom: -90px;
  transition: bottom .4s;
}

.world-form {
  width: 500px;
  margin: 5% auto 0;
  padding: 20px;
  border: 1px solid rgba(255,255,255,.5);
}
.world-form > h1 {
  text-align: center;
}
.world-form > div {
  margin: 0 0 5px 0;
}
.world-form label {
  width: 240px;
  text-align: right;
  display: inline-block;
  color: white;
  margin-right: 10px;
}
.world-form .btn {
  margin: 10px 250px 0;
  width: 130px;
}
.controls-help--open {
  bottom: 0;
}

.test-buttons {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 300px;
  text-align: right;
}

.point-details {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 3;
  width: 300px;
  color: white;
  background: rgba(255, 255, 255, .05);
  font-size: 10px;
  font-family: Courier New, Courier;
}
.point-details td {
  padding: 5px;
}

.world {
  /*cursor: crosshair;*/
}

.particle-count {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 20px;
}

canvas {
  width: 100%;
  height: 100%;
}
