<!DOCTYPE html>
<html ng-app="WorldViewerApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>World Viewer</title>
  <meta name="description" content="3D World View in WebGL">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="shortcut icon" href="improbable.ico" />
  <link rel="stylesheet" href="app/css/main.css">

  <script src="app/bower_components/angular/angular.min.js"></script>
  <script src="app/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="app/bower_components/json-formatter/dist/json-formatter.min.js"></script>
  <link rel="stylesheet" href="app/bower_components/json-formatter/dist/json-formatter.min.css">

  <script src="app/bower_components/three.js/three.js"></script>
  <script src="app/bower_components/klass/klass.min.js"></script>
  <script src="app/bower_components/underscore/underscore-min.js"></script>
  <script src="app/bower_components/three.js-controls/src/OrbitControls.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script type="x-shader/x-vertex" id="vertexshader">

      attribute float alpha;
      attribute float pointSize;
      attribute vec3 customColor;

      varying float vAlpha;
      varying vec3 vColor;

      void main() {

        vAlpha = alpha;
        vColor = customColor;

        vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
        gl_PointSize = pointSize;

        gl_Position = projectionMatrix * mvPosition;

      }

  </script>

  <script type="x-shader/x-fragment" id="fragmentshader">

      uniform vec3 color;
      uniform sampler2D pointTexture;
      uniform float worldSize;

      varying float vAlpha;
      varying vec3 vColor;

      void main() {

        vec4 outColor = texture2D( pointTexture, gl_PointCoord );
        gl_FragColor = outColor * vec4( color * vColor.xyz, vAlpha );

        float depth = gl_FragCoord.z / gl_FragCoord.w;
        const vec3 fogColor = vec3( 0.1 );

        float fogFactor = 0.0;// smoothstep( worldSize * 1.8, worldSize * 3.5, depth );
        gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );

      }

  </script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans:400">
</head>
<body ng-controller="MainCtrl" ng-cloak>
  <div class="world" id="WebGLCanvas" ng-show="worldCreated"></div>


  <table class="point-details" ng-show="worldCreated && point.id" cellpadding="0" cellspacing="0">
    <tr>
      <td>ID</td><td class="style--{{ point.prefab }}">{{ point.id }}</td>
    </tr>
    <tr>
      <td>Prefab</td><td class="style--{{ point.prefab }}">{{ point.prefab }}</td>
    </tr>
    <tr>
      <td>x</td><td>{{ point.x }}</td>
    </tr>
    <tr>
      <td>y</td><td>{{ point.y }}</td>
    </tr>
    <tr>
      <td>z</td><td>{{ point.z }}</td>
    </tr>
    <tr>
      <td colspan="2" class="entity-json" ng-show="point.payload"><json-formatter class="json-formatter-dark" open="1" json="point.payload"></json-formatter></td>
    </tr>
  </table>

  <div ng-show="worldCreated" class="test-buttons">
    <!-- <button class="btn" ng-click="testAddPoints()">Add Points</button>
    <button class="btn" ng-click="testMovePoints()">Move Points</button> -->
    <!-- <button class="btn" ng-click="toggleRotation()">Auto-rotate</button> -->
    <!-- <button class="btn" ng-click="onCreateNewClicked()">Create New World</button> -->
  </div>

  <span class="particle-count" ng-show="worldCreated">Particles: {{ particlesInWorld }}</span>

  <div class="world-form" ng-hide="worldCreated">
    <h1>Create a New World</h1>
    <div><label>Data Source</label><input type="url" ng-model="dataSource"></div>
    <div><label>Number of points</label><input type="text" ng-model="numPoints"></div>
    <div><label>Point size</label><input type="text" ng-model="pointSize"></div>
    <div><label>World axis length</label><input type="text" ng-model="worldSize"></div>
    <div><label>Target frame rate</label>
      60<input type="radio" name="targetFrameRate" ng-model="targetFrameRate" value="60">
      30<input type="radio" name="targetFrameRate" ng-model="targetFrameRate" value="30">
      12<input type="radio" name="targetFrameRate" ng-model="targetFrameRate" value="12">

    </div>
    <div><button class="btn" ng-click="createWorld()">Create World</button></div>
  </div>

  <div class="controls-help" ng-class="{'controls-help--open':controlsOpen}">
    <div class="controls-trigger" ng-click="controlsOpen=!controlsOpen">Controls Help</div>
    <ul>
      <li><strong>Orbit</strong> - left mouse / touch: one finger move</li>
      <li><strong>Zoom</strong> - middle mouse, or mousewheel / touch: two finger spread or squish</li>
      <li><strong>Pan</strong> - right mouse, or arrow keys / touch: three finter swipe</li>
    </ul>
  </div>

  <script src="app/js/shims.js"></script>
  <script src="app/js/stats.js"></script>
  <script src="app/js/detector.js"></script>
  <script src="app/js/lib/World.js"></script>
  <script src="app/js/ui.js"></script>

</body>
</html>
